.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.inner-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 100px;
    margin-top: 375px;
    margin-bottom: 150px;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* .profileImage {

} */

.profile-pic {
    width: 250px;
    height: 250px;
    border: 2px solid #000;
    margin: 20px;
    z-index: 1;
    opacity: 1;
}

.bioText {
    width: 75%;
    text-align: center;
    margin: 20px;
    color: gray;
    color: black;
    text-shadow: white 1px 0 px;
    z-index: 1;
}




.webPageAboutMeTest {

background-color: lightgrey;
top: 0;
left: 0;
width: 100%;
height: 100%;
position: fixed;
z-index: 0;
}