.webPageCert {
    padding-top: 350px;
    padding-bottom: 100px;
        min-height: 25vh;
}

.certText {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 100px;
    margin-top: 375px;
    margin-bottom: 150px;
    background-color: gray;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}



.certText {

    text-align: center;
    color: black;
    text-shadow: #FC0 1px 0 10px;

    padding-right: 1.5%;
    padding-left: 1%;
}

.certificationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 25vh; */
    z-index: 1;
}

.CertificatiionTitle {
    display: flex;
    align-items: center;
    margin: 1%;
    border-bottom: 1px solid lightskyblue;
    z-index: 1;
}


.CertificatiionList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    z-index: 1;
}

/* .CertificatiionList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    border: 1px solid lightskyblue;
    border-radius: 5px;
} */

.cBoxes {
    background-color: lightgrey;
    margin: 1%;
}

/* .cPage-background {
    background-color: lightgrey;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
} */

.cPage-background {
    background-color: lightgrey;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}