.logoBody {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}


/* nav {
  display: flex;
display: inline;
width: 100%;
height: 17%;
} */

nav-link {
  display: flex;

}

.navStyle {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .navIcons {
      display: flex;
      width: 60%;
      justify-content: flex-end;
      }
  
  
  .navLogo {
    display: flex;
    /* width: 40%; */
    align-items: flex-start;
    flex-direction: column;
  }

  /* .navbar-brand, .navbar-tabs {
    flex-direction: column;
} */
  
  .nav-item {
    /* margin-left: 1px; */
    margin-right: 1px;
    /* border-left: 1px solid lightskyblue; */
    border-right: 1px solid lightskyblue;

  }

  .nav-items-border {
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    /* border-left: 1px solid lightskyblue; */
    border-right: 1px solid gray;

  }

  .navLogoText {
    display: flex;
  }
  
  .navLogoImage {
    /* width: 75%;
    height: 50%; */
    border-radius: 50%;
    border: 1px solid lightskyblue;
  }
  
  header nav section {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
  }
  
  /* header nav section ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    } */
  
  .navIconsButtons {
    display: flex;
    /* width: 75%; */
      justify-content: flex-end;
  }

  
/*   
  header nav section ul li {
    display: flex;
    flex-direction: row;
    padding: 5px;
  } */