.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.wImageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
  
.wImages {
    display: flex;
    width: 100%;
    /* max-width: 100%; */
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.webPagePort {
    /* margin-top: 400px;
    margin-bottom: 500px; */
    /* padding-top: 400px;
    padding-bottom: 100px; */

    padding-top: 350px;
    padding-bottom: 100px;
        min-height: 25vh;
}

.webPagePort {
    /* margin-top: 400px;
    margin-bottom: 500px; */
    /* padding-top: 400px;
    padding-bottom: 100px; */

background-color: lightgrey;
background-image: url(../../../../public/images/background/istockphoto-537331500-612x612.jpg);

top: 0;
left: 0;
width: 100vw;
height: 150%;
object-fit: cover;
z-index: -1;
opacity: 0.95;
filter: brightness(0.5);
}