@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  /* --website-margins: 2%;
  display: flex; */

}

.fullPage {

  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  box-sizing: border-box;
}

.fullHeader {
}

.fullMain {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100%;
}

.fullFooter {
  display: flex;

}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: 100%;
  text-Align: "center";
  background-color: gray;
  color: #fff;
} */



h1 {
  font-size: 200%;
}

h2 {
  font-size: 100%;
}




@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}