:root {
  --website-margins: 2%;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: 100%;
  text-Align: "center";
  background-color: gray;
  color: #fff;
  /* position: fixed; */
}

.navStyle {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.navIcons {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    }


.navLogo {
  display: flex;
  width: 40%;
  align-items: flex-start;
}

.navLogoText {
  display: flex;
}

.navLogo img {
  width: 75%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid lightskyblue;
}

header nav section {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
}

/* header nav section ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  } */

.navIconsButtons {
  display: flex;
  /* width: 75%; */
    justify-content: flex-end;
}

header nav section ul li {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 100%;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

body main {
  min-height: var(--icon-height);
  flex-direction: row;
  margin: var(--website-margins);
  padding: 4%;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.contact-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 1 1 0; */
  max-width: 100%;
  margin: 2% auto;
}

/* .contact-layout div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    padding: 2%;
    border: 1px solid lightskyblue;
    border-radius: 5px;
} */

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.info-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 1 1 0; */
  max-width: 100%;
  margin: 2% auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color: #fff;
  width: 100%;

  background-Color: grey;
  color: white;
  text-Align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: inherit;
  margin-bottom: 0;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  font-weight: bold;
  text-decoration: none;
}

nav div :hover {
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
}

.profile-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}