:root {
  --website-margins: 2%;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: 100%;
  text-Align: "center";
  background-color: gray;
  color: #fff;
  /* position: fixed; */
}



h1 {
  font-size: 200%;
}

h2 {
  font-size: 100%;
}


nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  font-weight: bold;
  text-decoration: none;
}

nav div :hover {
  color: #fff;
}






@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}