footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-Color: grey;
    padding: 10px;
    justify-content: space-evenly;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    padding: inherit;
    margin-bottom: 0;
    /* margin: 0% auto; */
    background-color: grey;
  }

  .footerItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    padding: 2%;
    background-color: white;
    border: 1px solid lightskyblue;
    border-radius: 5px;
  }